{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"semi": false,
	"printWidth": 100,
	"pluginSearchDirs": false,
	"cssWhitespaceSensitivity": "ignore",
	"plugins": ["prettier-plugin-tailwindcss"]
}
